/* colors - #085E1F #2C045E #54D3AB  #E06E5A */
@import url("https://use.typekit.net/riz4fdw.css");

body {
  font-family: sans-serif;
  background: linear-gradient(180deg, rgba(245, 166, 151, 1) 0%, rgba(236, 177, 167, 0) 20%);
}

main {
  margin: 5%;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 2px #2C045E;
  text-transform: capitalize;
  font-family: lemongrass-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #085E1F;
}

h2 {
  text-transform: capitalize;
  font-family: lemongrass-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #085E1F;
}

label {
  color: #2C045E !important;
  size: 14pt;
}

img {
  width: 200px;
  display: block;
  margin: 15px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

li {
  text-transform: capitalize;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
  max-width: 300px;
  background: #dbecdc;
  border-radius: 5px;
  box-sizing: border-box;
  padding-bottom: 25px;
  box-shadow: 2px 2px 4px #2C045E;
  text-align: center;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  margin-bottom: 5%;
}

button {
  background: #2C045E !important;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
}

input[type='submit'] {
  background: #2C045E !important;
  border-bottom: 2px solid skyblue;
  border-radius: 3px;
  padding: 0.5em;
  margin: auto;
  color: white;
}

p.brand {
  color: #2C045E;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21pt;
  margin-bottom: 10px;
}

summary {
  margin: 15px;
}
