/* colors - #085E1F #2C045E #54D3AB  #E06E5A */
@import url("https://use.typekit.net/riz4fdw.css");

body {
  font-family: sans-serif;
}


h1 {
  text-align: center;
  text-shadow: 1px 1px 2px #E06E5A;
  text-transform: uppercase;
  font-family: lemongrass-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #085E1F;
}
img.party {
  width: 150px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 200px;
  display: block;
  margin: 15px;
}


ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}


li {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
  margin: 2%;
  background: #d49ae247;
  box-sizing: border-box;
  padding: 2%;
  box-shadow: 2px 2px 4px #E06E5A;
}


button {
  background: #54D3AB !important;
  padding: 0.5em;
  margin: 0.5em;
}

input[type='submit'] {
  background: #54D3AB !important;
  border-bottom: 2px solid skyblue;
  border-radius: 3px;
  padding: 0.5em;
  margin: auto;
}
